<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServerLibraryFAChat.Properties.Settings.FAChatConnectionString"
            connectionString="Data Source=LT\SQLEXPRESS;Initial Catalog=FAChat;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>